%table.diffstat-table
  %tbody
    - @status.keys.each do |path|
      - rel_path = Wide::PathUtils.relative_to_base(@project.repository.full_path, path)
      - stripped_path = path.strip

      - case @status[path].first
      - when :modified then action_icon = 'ui-icon-pencil'
      - when :removed then action_icon = 'ui-icon-minusthick'
      - when :added then action_icon = 'ui-icon-plusthick'

      %tr{'data-path' => rel_path}
        %td{:class => [ :status, @status[path] ] }
          %span{:class => [ 'ui-icon', action_icon, @status[path] ] }
          %td.path
            %span.path
              = rel_path
            %a.view-diff(href = "#") (View diff)
        %td.diffstat
          - unless @diffstat[:files][stripped_path].nil?
            - diffstat = @diffstat[:files][stripped_path]
            %span.diffstat-summary= diffstat[:binary] ? 'Bin' : diffstat[:number_of_changes]
            %span.diffstat-bar
              - unless diffstat[:binary]
                - diffstat[:insertions].times do
                  %span.plus +
                - diffstat[:deletions].times do
                  %span.minus -
        %td.checkbox
          = check_box_tag 'files[]', rel_path, true
