.layout {
  height: 93%;
  font-size: 1em !important;
}
.ui-resizable-handle {
  background-color: rgb(220, 220, 220);
}
.ui-resizable-w {
  left: -8px;
  width: 6px;
  border-left: 1px solid rgb(210, 210, 210);
  border-right: 1px solid rgb(210, 210, 210);
}
.ui-resizable-helper-west {
  border-right: 6px solid rgb(220, 220, 220);
}
.ui-resizable-helper-north {
  border-top: 6px solid rgb(220, 220, 220);
}

#tree_pane {
  height: 100%;
  width: 16%;
}

#central_pane {
  height: 100%;
  width: 74%;
}

#toolbar, #central_pane, #tree_pane {
  display: inline-block;
}

