#notification-wrapper {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 25px;
  text-align: center;
  z-index: 10000;
  font-size: 13px;
}
#notification {
  display: inline-block;
  padding: 0pt 1em;
  text-align: center;
  opacity: 1;
}
#notification > span {
  display: inline-block;
  margin-right: 0.3em;
}
