#projects {
  width: 60%;
  margin: 2em auto;
  padding: 0 2.5%;
}
#projects h1 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin: 12px 0 0.4em 0;
  padding-left: 0.4em;
  clear: both;
}
#projects h1 .ui-icon-circle-plus {
  display: inline-block;
}
#projects table {
  display: table;
  width: 100%;
  margin-bottom: 12px;
}
#projects table th {
  font-weight: bold;
}
#projects table th,
#projects table td {
  padding: 5px;
}
#projects table a {
  text-decoration: underline;
}
#projects tbody tr.success {
  cursor: pointer;
}
#projects table td.status {
  width: 6em;
}
#projects table td.delete {
  width: 16px;
}
#projects table tr.initializing td.status span.ui-icon-throbber {
  float: right;
  margin-right: 0.5em;
}
#projects tbody tr.add_new_project {
  text-align: center;
  cursor: pointer;
}

div#container.projects.edit {
  overflow-y: scroll;
}
#add_link,
.clone_instructions {
  display: block;
  margin-bottom: 1em;
}
.remove_link {
  display: block;
  text-align: center;
}

.constants p {
  text-align: center;
}
.fields {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.constants,
.collaborators {
  padding-top: 0.5em;
  font-size: 0.75em;
}
.collaborators {
  width: 450px;
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}

ul.token-input-list p {
  padding-left: 0.2em;
  display: inline-block;
}
ul.token-input-list span {
  float: right;
}
ul.token-input-list li input {
  border: 0;
  width: 350px;
  padding: 3px 8px;
  background-color: white;
}
.autocomplete-dropdown {
  z-index: 99999;
}

.collaborators .token-input-list p {
  display: block;
}
