#commit_dialog {
  z-index: 99999 !important;
}
#commit_dialog form {
  height: 80%;
}
#commit_dialog .message {
  margin-top: 0.8em;
}
#commit_dialog .message textarea {
  width: 100%;
}

#commit-summary {
  max-height: 400px;
  overflow-y: auto;
  font-size: 0.75em;
}

.ui-icon.status.modified {
  background-image: url('../images/overlays/modified.gif');
}
.ui-icon.status.added {
  background-image: url('../images/overlays/added.gif');
}
.ui-icon.status.unversioned {
  background-image: url('../images/overlays/unversioned.gif');
}
.ui-icon.status.ignored {
  background-image: url('../images/overlays/ignored.gif');
}
.ui-icon.status.readonly {
  background-image: url('../images/overlays/readonly.gif');
}
.ui-icon.status.unresolved {
  background-image: url('../images/overlays/unresolved.gif') !important;
}
.ui-icon.status.resolved {
  background-image: url('../images/overlays/resolved.gif') !important;
}
.ui-icon.status.removed {
  background-image: url('../images/overlays/deleted.gif');
}
