#changeset {
  width: 833px;
  margin: 0 auto;
}
#changeset .title {
  margin: 12px 0 0.4em 0;
}
#changeset .title h1 {
  display: inline;
  font-weight: bold;
  padding-left: 0.4em;
}
#changeset .title .actions {
  display: inline;
  float: right;
  font-weight: normal;
  margin-right: 5px;
}

.file {
  width: 833px;
  margin: 0 auto;
  margin-bottom: 1em;
}
.file .meta {
  width: 100%;
}
.file .meta .info {
  font-size: 0.9em;
}
.file .meta .info span {
  float: left;
}
.file .meta .actions {
  float:right;
}
.file .meta .actions li {
  list-style-type: none;
  float: left;
  margin: 0 0 0 7px;
  padding-left:9px;
}
.file .meta .actions li {
  margin-left: 0;
  margin-right: 5px;
  padding-left: 0;
}
.file .meta .actions li a {
  font-weight: normal;
  font-size: 0.8em;
}

.file pre {
  width: 812px;
  padding: 5px 10px 10px 10px;
  display: inline-block;
  font-size: 0.8em;
  white-space: pre-wrap;
}

#changeset-summary {
  padding: 5px 10px 10px 10px;
}
#changeset-summary .relations {
  margin: 0;
}

#changeset .diffstat-table {
  font-size: 0.9em;
}
