#pull_dialog form input {
  width: 100%;
}
#pull_dialog .ui-button {
  margin-left: -1px;
}
#pull_dialog .ui-button-icon-only .ui-button-text {
  padding: 0.35em;
}
#pull_dialog .ui-autocomplete-input {
  width: 90%;
  margin: 0;
  padding: 0.48em 0 0.47em 0.45em;
}
.ui-autocomplete strong {
  font-weight: bold;
}
