#projects {
  width: 60%;
  margin: 2em auto;
  padding: 0 2.5%;
}
#projects h1 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin: 12px 0 0.4em 0;
  padding-left: 0.4em;
  clear: both;
}
#projects h1 .ui-icon-circle-plus {
  display: inline-block;
}
#projects table {
  display: table;
  width: 100%;
  margin-bottom: 12px;
}
#projects table th {
  font-weight: bold;
}
#projects table th,
#projects table td {
  padding: 5px;
}
#projects table a {
  text-decoration: underline;
}
#projects tbody tr.success {
  cursor: pointer;
}

div#container.projects.edit {
  overflow-y: scroll;
}
#add_link,
.clone_instructions {
  display: block;
  margin-bottom: 1em;
}
.remove_link {
  display: block;
  text-align: center;
  margin-bottom: 0.5em;
}
.fields {
  padding-top: 0.5em;
}
