.new_project {
  width: 45%;
  margin: 0px auto;
  padding: 0 5em;
}

.new_project h1 {
  margin-bottom: 1em;
}

#projects {
  width: 60%;
  margin: 2em auto;
  padding: 0 2.5%;
}
#projects h1 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin: 12px 0 0.4em 0;
  padding-left: 0.4em;
  clear: both;
}
#projects h1 .ui-icon-circle-plus {
  display: inline-block;
}
#projects table {
  display: table;
  width: 100%;
  margin-bottom: 12px;
}
#projects table th {
  font-weight: bold;
}
#projects table th,
#projects table td {
  padding: 5px;
}
