html {
  height: 100%;
}

body, #container {
  height: 94%;
  background: #FFFFEE;
}

#navbar {
  float: right;
}

#tree {
  display: block;
  overflow: auto;
  float: left;
  width: 24%;
  height: 100%;
}

#file_content {
  display: block;
  float: left;
  width: 74%;
  height: 100%;
}

#file_content form, #content {
  width: 100%;
  height: 100%;
}

#toolbar {
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: 5px;
}

#toolbar input {
  float: left;
  display: block;
}
