html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#navbar {
  display: inline;
  float: right;
  margin-right: 5px;
}
#navbar li {
  float: left;
}
#navbar li.separator {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

#title {
  width: 100%;
  font-size: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
}

#title a {
  font-weight: normal;
}

#title h1 {
  display: inline;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
