html {
  height: 100%;
}

body, #container {
  height: 94%;
  background: #FFFFEE;
}

#navbar {
  float: right;
}

#tree {
  display: block;
  overflow: auto;
  float: left;
  width: 24%;
  height: 94%;
}

#file_content {
  display: block;
  float: left;
  width: 76%;
  height: 94%;
}

#file_content form, #content {
  width: 100%;
  height: 100%;
}

#toolbar {
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: 5px;
}

#toolbar input {
  float: left;
  display: block;
}

li.root a ins ins.jstree-overlay {
  background-image: none;
}
li.root li.modified a ins ins.jstree-overlay {
  background-image: url('../images/overlays/modified.gif');
}
li.root li.added a ins ins.jstree-overlay {
  background-image: url('../images/overlays/added.gif');
}
li.root li.unversioned a ins ins.jstree-overlay {
  background-image: url('../images/overlays/unversioned.gif');
}
li.root li.ignored a ins ins.jstree-overlay {
  background-image: url('../images/overlays/ignored.gif');
}
li.root li.readonly a ins ins.jstree-overlay {
  background-image: url('../images/overlays/readonly.gif');
}
li.root li.conflict a ins ins.jstree-overlay {
  background-image: url('../images/overlays/conflict.gif');
}

#commit_dialog .message textarea {
  width: 100%;
  height: 100%;
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

#commit_dialog {
  display: none;
}
