#tabs {
  width: 100%;
  height: 75%;
  font-size: 0.8em;
  margin-right: 5px;
}
#tabs li .ui-icon {
  float: left;
  margin: 0.4em 0.2em 0 0;
  cursor: pointer;
}

#central_pane form {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#central_pane form textarea {
  margin-top: 5px;
}
#central_pane .ui-tabs-panel {
  padding: 0;
}
#central_pane .ui-tabs-panel p {
  padding-left: 1em;
}
#central_pane .ui-tabs {
  padding: 0;
}

#toolbar {
  font-size: 0.725em;
  min-height: 22px;
  padding-left: 2px;
}

#toolbar .buttonset {
  margin-right:1.5em;
  padding-left: 1px;
  float: left;
}
