.simple_form_container {
  display: block;
  margin: 1.8em auto;
  width: 750px;
}
.simple_form_container h1 {
  margin-bottom: 1em;
  text-align: center;
  width: 100%;
}

.simple_form {
  display: block;
  width: 100%;
  text-align: center;
}

.simple_form div {
  display: block;
  clear: both;
  margin: 0 1em 1em 1em;
  text-align: left;
}
.simple_form label {
  float: left;
  text-align: right;
  font-size: 0.9em;
  width: 120px;
  margin-right: 15px;
}
.simple_form label abbr {
  float: right;
  font-size: 0.8em;
}

.simple_form input {
  clear: right;
}
.simple_form .password input,
.simple_form .string input {
  width: 500px;
}
.simple_form input[type='submit'] {
  margin-bottom: 1em;
}
.simple_form span.hint,
.simple_form .boolean input,
.simple_form .error span {
  margin-left: 135px;
}
.simple_form span.hint,
.simple_form .error span {
  display: block;
}
.simple_form .boolean label {
  float: none;
  width: auto;
}
