#compilator_output_table {
  height: 15%;
  width: 100%;
  padding-top: 3px;
  font-size: 0.8em;
}
#compilator_output_table table {
  table-layout: fixed;
}
#compilator_output_table .header-container {
  height: 5%;
  width: 100%;
}
#compilator_output_table .y-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
  width: 100%;
}
#compilator_output_table table, #compilator_output_table tr {
  width: 100%;
}
#compilator_output_table .th0, #compilator_output_table .col0 {
  width: 2%;
  text-align: center;
  padding: 0;
}
#compilator_output_table .col0 span {
  display: inline-block;
}
#compilator_output_table .th1, #compilator_output_table .col1 {
  width: 60%
}
#compilator_output_table .th2, #compilator_output_table .col2 {
  width: 35%;
}
#compilator_output_table .th3, #compilator_output_table .col3 {
  width: 4%;
}
#compilator_output_table th, #compilator_output_table td {
  border-right: 1px solid;
  padding-left: 0.5%;
  overflow: hidden;
}
