.layout {
  height: 96%;
  font-size: 1em !important;
}
.ui-resizable-handle {
  background-color: rgb(220, 220, 220);
}

.ui-resizable-n,
.ui-resizable-e {
  z-index: 1 !important;
}
.ui-resizable-helper-west {
  border-right: 6px solid rgb(220, 220, 220);
}
.ui-resizable-helper-north {
  border-top: 6px solid rgb(220, 220, 220);
}

#tree_pane {
  height: 100%;
  width: 13.54%;
}

#central_pane {
  height: 100%;
  width: 86.46%;
}

#toolbar, #central_pane, #tree_pane {
  display: inline-block;
}

.ui-icon-throbber {
  background-image: url('../images/throbber.gif') !important;
}
