- title 'wIDE | Forgot your password?', true

.simple_form_container.ui-widget-content.ui-corner-all
  %h1.ui-widget-header Forgot your password?
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = f.input :email
    = f.button :submit, 'Change Password'
= render :partial => "devise/shared/links"
