#compiler_output_table.south.ui-widget
  .header_container
    %table
      %thead
        %tr.ui-widget-header
          %th.th0  &nbsp;
          %th.th1 Description
          %th.th2 Resource
          %th.th3 Line
  .y-scroll
    %table.ui-widget-content
      %tbody#compiler_output_rows.ui-state-default
