.fields.constant.ui-widget-content.ui-corner-all
  = f.input :name, :input_html => { :class => 'ui-state-default' }
  = f.input :value, :input_html => { :class => 'ui-state-default' }
  = link_to_remove_fields('Remove constant', f)
